header {
    background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
}

footer {
    position: relative ;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link and background color on hover */
nav li a:hover {
    background-color: #555555;
    color: white;
}

div.flex-container{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

div.flex-container > div{
    margin: 10px;
    flex: 1;
    border: solid 1pt black;
    border-radius: 6px;
    padding: 10px;
}

@media screen and (max-width: 600px){
    div.flex-container{
        flex-direction: column;
    }
}

img {
    width: 200px;
}

.flex-container-ajaf {
    display: flex;          /* Включаем flex-контейнер */
    flex-direction: row;    /* Горизонтальное расположение элементов */
    gap: 20px;              /* Расстояние между блоками */
    flex-wrap: wrap;        /* Если блоков слишком много, они перенесутся на следующую строку */
}

.flex-row {
    border: 1px solid #ccc; /* Для наглядности границы блоков */
    padding: 10px;
    background-color: #f9f9f9;
    min-width: 200px;       /* Минимальная ширина блока */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.statistika {
    margin-top: 20px;
}