header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link and background color on hover */
nav li a:hover {
    background-color: #555555;
    color: white;
}